
@import 'meyer-reset.css';

/* SETUP SITEWIDE */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    display: inline-block;
    color: rgb(99, 189, 245);
    text-decoration: underline;
}

/* SETTINGS */
html {
    --color: light pink;
    --black: #333;
    --light: rgb(99, 189, 245);
    --white: #fefefe;
    --dark: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
    --button-color: #3882F6;

}


/* STRUCTURE */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

inner-column {
    display: block;    
    padding: 10px;
    /*added later*/
    max-width: 1000px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    /**/
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header inner-column {
    padding: 12px;
}

footer inner-column {
    padding: 12px;
}

/* DEV STYLES */
 /* body * {
    border: 1px solid blue;
    padding: 1px;
} 

header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
}
inner-column {
    border: 4px solid rgb(212, 87, 212);
}
main {
    border: 10px solid pink;
}
graphic-div {
    border: 2px solid black;
} */


/* TYPOGRAPHY */

.large-text {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
}

@media (min-width: 700px) {
    .large-text {
        font-size: 40px;
    }
    .normal-text {
        font-size: 1.5rem;
    }
}

.normal-text {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1;
}

/* COMPONENTS */
.button {
    font-family: sans-serif;
    display: inline-block;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    color: white;
    background-color: var(--dark);
    margin-bottom: 2px;
}

/* MODULES */
graphic-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

graphic-div picture {
    display: block;
    max-width: 500px;
}

graphic-div text-content {
    display: block;
}

graphic-div text-content p{
    margin-top: 12px;
}

graphic-div text-content a{
    margin-top: 12px;
}

@media (min-width: 700px) {
    graphic-div {
    flex-direction: row-reverse;
    }

    graphic-div :is(text-content, picture) {
    flex-basis: 50%;

    }
}    

tiles .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

tiles div {
    padding-bottom: 15px;
}   

product-card {
    display: block;
}

.welcome {
    background-color: var(--dark);
    color: var(--white);
}

.welcome .button {
    background-color: var(--button-color);
    color: var(--white);
}

.quotes {
    background-color: var(--quote-background);
    color: var(--quote-text);
}

.quotes .normal-text {
    color: var(--quote-text);
    font-size: 1.5rem;
    font-weight: 200;
}

.quotes text-content {
    padding: 10px;
    padding-top: 4rem;
}

.quotes div {
    margin-top: 2rem;
    font-style: italic;
    text-align: right;
}
