
@import 'meyer-reset.css';

/* SETUP SITEWIDE */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    display: inline-block;
    color: rgb(99, 189, 245);
    text-decoration: underline;
}

/* SETTINGS */
html {
    --color: light pink;
    --black: #333;
    --light: rgb(99, 189, 245);
    --white: #fefefe;
    --dark: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
    --button-color: #3882F6;

}


/* STRUCTURE */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

inner-column {
    display: block;    
    padding: 10px;
    /*added later*/
    max-width: 1000px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    /**/
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header inner-column {
    padding: 12px;
}

footer inner-column {
    padding: 12px;
}

/* DEV STYLES */
 /* body * {
    border: 1px solid blue;
    padding: 1px;
} 

header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
}
inner-column {
    border: 4px solid rgb(212, 87, 212);
}
main {
    border: 10px solid pink;
}
graphic-div {
    border: 2px solid white;
} 
header-div {
    border: 2px solid rgb(255, 251, 0); 
}
header-div ul {
    border: 2px solid pink;
}
header-div img { 
    border: 2px solid rgb(221, 12, 47);
}

header inner-column {
    border: 2px solid green;
}

header {
    border: 2px solid blue;
} 

.call-to-action text-content {
    border: 2px solid red;
}

.call-to-action div {
    border: 2px solid red;
}

.call-to-action a {
    border: 2px solid var(--white);
}
.call-to-action graphic-div {
    border: 1px solid green;
} */


/* TYPOGRAPHY */

.large-text {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
}
.normal-text {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
}

.small-text {
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1;
}

@media (min-width: 700px) {
    .large-text {
        font-size: 40px;
    }
    .normal-text {
        font-size: 20px;
    }
    .small-text {
        font-size: 15px;
    }
}



/* COMPONENTS */
.button {
    font-family: sans-serif;
    display: inline-block;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    color: white;
    background-color: var(--dark);
    margin-bottom: 2px;
}

/* MODULES */
graphic-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

graphic-div picture {
    display: block;
    max-width: 500px;
}

graphic-div text-content {
    display: block;
}

graphic-div text-content p{
    margin-top: 12px;
}

graphic-div text-content a{
    margin-top: 12px;
}

@media (min-width: 700px) {
    graphic-div {
    flex-direction: row-reverse;
    }

    graphic-div :is(text-content, picture) {
    flex-basis: 50%;

    }
}    

tiles .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

tiles div {
    padding-bottom: 15px;
}   

product-card {
    display: block;
}

.product-list p {
    margin-bottom: 10px;
}
.welcome {
    background-color: var(--dark);
    color: var(--white);
}

.welcome .button {
    background-color: var(--button-color);
    color: var(--white);
}

.quotes {
    background-color: var(--quote-background);
    color: var(--quote-text);
}

.quotes .normal-text {
    color: var(--quote-text);
    font-size: 1.5rem;
    font-weight: 200;
}

.quotes text-content {
    padding: 10px;
    padding-top: 4rem;
}

.quotes div {
    margin-top: 2rem;
    font-style: italic;
    text-align: right;
}

.call-to-action inner-column {
    display: flex;
    justify-content: center;
}

.call-to-action text-content {
    display:block;
    flex-grow: 1;
    max-width: 780px;
    padding: 1.5rem 2rem;
}

.call-to-action div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.call-to-action a {
    background-color: inherit;
    color: var(--white);
    border: 2.2px solid var(--white);
    border-radius: 0.4rem;
}

.call-to-action graphic-div {
    display: flex;
    flex-direction: column;
    width: 98%;
    background-color: var(--light);
    border: 2px solid var(--light);
    border-radius: 10px;
}

@media (min-width: 700px) {
    .call-to-action graphic-div {
    flex-direction: row;
    }
    .call-to-action text-content {
    padding: 1rem 2.5rem;
    }
    .call-to-action div {
        padding-right: 20px;
    }
} 

.call-to-action h1 {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: var(--white);
}


header inner-column {
    padding: 0px;
    background-color: var(--dark);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

header {
    background-color: var(--dark);
    color: var(--white)
}

header a {
    text-decoration: none;
    color: var(--white)
}

header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

header-div picture {
    display: flex;
    flex-shrink: 0;
}

header-div img { 
    height: 50px;
    width:  100px;
}

header-div ul {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    max-width: 20rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

@media (min-width: 700px) {
    header-div {
        flex-direction: row;
        justify-content: space-between;
    }
    header-div picture {
        display: flex;
        flex-shrink: 0;
    }
    header-div ul {
        gap: 3rem;
    }
}

footer {
    background-color: var(--dark);
    padding: 16px;
}

footer div {
    color: var(--quote-background);
    text-align: center;
}
